.square {
    background-color: tomato;
    width: 400px;
    height: 400px;
    
}

.square:hover{
    transform: skew(15deg,30deg)/*rotate(30deg); translate(50px, 100px);*/
}


h1{
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    animation-duration: 3s;
}

@keyframes identifier {
    
}

link:visited{
    color: darkred;
}